/* nav bar */

.nav-bar-container{
    width: 100%;
    height: 200px;
    background-color: #ffc700;
}

.nav-bar-container {
}

nav h3{
    font-size: 40px;
    text-align: center;
    line-height: 40px;
    padding: 10px;
}